@font-face {
  font-family: "Playfair Display";
  src: url(./fonts/PlayfairDisplay-VariableFont_wght.ttf);
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url(./fonts/Raleway-VariableFont_wght.ttf);
  font-display: swap;
}
:root {
  --padding: 16px;
  --black: #000000;
  --white: #ffffff;
  --sea-green: #4ba87d;
  --charcoal-gray: #9f9f9f;
  --light-gray: #dbdbdb;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  max-width: 100dvw;
  min-height: 100dvh;
  overflow-x: hidden !important;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: var(--white);
  box-shadow: 4px 4px 40px 0px #0000001f;
}
main {
  margin-top: clamp(62px, 9.27vw, 102px);
}
h1,
h2 {
  font-family: "Playfair Display";
  font-weight: 900;
}
h1 {
  font-size: clamp(36px, 5.36vw, 59px);
  font-weight: 900;
  /* line-height: 71px; */
}
.main-container {
  max-width: calc(1100px + ((var(--padding)) * 2));
  padding: 0 var(--padding);
  margin: 0 auto;
}
.secondary-container {
  max-width: calc(944px + ((var(--padding)) * 2));
  padding: 0 var(--padding);
  margin: 0 auto;
}
.font-playfair {
  font-family: "Playfair Display";
}
.font-raleway {
  font-family: "Raleway";
}
.button {
  text-align: center;
  font-family: "Raleway";
  font-size: clamp(13px, 1.9vw, 21px);
  font-weight: 900;
  letter-spacing: clamp(0.82px, 0.11vw, 1.275px);
  padding: clamp(6px, 1vw, 11px) clamp(13px, 1.9vw, 21px);
}
.green-button {
  color: var(--white);
  background-color: var(--sea-green);
  border: 3px solid var(--sea-green);
  transition: all 0.8s;
}
.green-button:hover {
  background-color: transparent;
  color: var(--sea-green);
}
.white-button {
  color: var(--sea-green);
  background-color: var(--white);
  border: 3px solid var(--white);
  transition: all 0.8s;
}
.white-button:hover {
  color: var(--white);
  background-color: transparent;
}
.flex {
  display: flex;
}
.items-center {
  align-items: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.flex-wrap {
  flex-wrap: wrap;
}
.text-black {
  color: var(--black);
}
.text-white {
  color: var(--white);
}
.text-center {
  text-align: center;
}
.header-container {
  min-height: clamp(62px, 9.27vw, 102px);
}
.logo {
  font-size: clamp(22px, 3.18vw, 35px);
  font-weight: 900;
}
.logo img {
  margin: 0 -22px;
  width: clamp(84px, 11.72vw, 129px);
  height: clamp(41px, 5.81vw, 64px);
}
.nav-button {
  column-gap: clamp(20px, 2.81vw, 31px);
}
.nav-button a {
  font-size: clamp(11px, 1.45vw, 17px);
  font-weight: 800;
  letter-spacing: clamp(0.82px, 0.11vw, 1.275px);
}
.nav-button ul {
  column-gap: clamp(26px, 3.45vw, 38px);
}
.nav-button ul a {
  position: relative;
}
.nav-button ul a::after {
  content: "";
  position: absolute;
  bottom: calc(clamp(6px, 1vw, 11px) * -1);
  left: 0;
  width: 0;
  height: clamp(3px, 0.45vw, 5px);
  background-color: var(--sea-green);
  transition: all 0.8s;
}
.nav-button ul a:hover::after {
  width: 100%;
}
.header-button {
  padding: clamp(6px, 1vw, 11px) clamp(13px, 1.9vw, 21px);
}
.background{
  background: url(./imgs/background.png) center/contain; 
}
.hero {
  margin: 200px auto clamp(14px, 6.81vw, 75px);
}
.hero-container {
  min-height: 383px;
  background: url(./imgs/hero-bg.png) center right no-repeat;
  background-size: clamp(300px, 61.81vw, 680px);
}
.hero-content {
  max-width: 489px;
}
.hero-content p {
  font-size: 19px;
  line-height: 26px;
  margin: 23px 0 35px;
}
.hero-buttons {
  gap: 10px;
}
.hero-content a:last-child {
  border: 3px solid var(--sea-green);
  background-color: var(--white);
  color: var(--sea-green);
}
.hero-content a:last-child:hover {
  background-color: var(--sea-green);
  color: var(--white);
}
.video{
  background-color: #F7F7F7;
}
.video-container{
  padding: 30px var(--padding);
}
.video-bg {
  height: clamp(202px, 57.09vw, 628px);
  background: url(./imgs/video.png) center no-repeat;
  background-size: clamp(304px, 85.81vw, 944px);
}
.video-content h2 {
  font-size: clamp(22px, 5.45vw, 60px);
  margin-bottom: clamp(20px, 7.27vw, 80px);
}
.source {
  background-color: #caeac7;
  padding: 50px var(--padding);
  margin: 0 auto clamp(54px, 6.81vw, 75px);
}
.source-container {
  min-height: 533px;
  gap: 47px 27px;
}
.source-card {
  width: clamp(289px, 29.09vw, 320px);
  min-height: 475px;
  background-color: var(--white);
  transition: all 0.8s;
}
.source-card:hover {
  scale: 1.03;
  box-shadow: 4px 4px 40px 0px #0000001f;
}
.source-card:nth-child(1) {
  align-self: flex-start;
  margin-right: auto;
}
.source-card:nth-child(2) {
  align-self: flex-end;
  margin-left: auto;
}
.source-card img {
  width: 100%;
  min-height: 277px;
  object-fit: cover;
}
.source-card-content {
  padding: 24px 32px;
}
.source-card-content p {
  line-height: 26px;
  margin-bottom: 20px;
  font-weight: 600;
}
.source-card-content a {
  color: var(--sea-green);
  font-weight: 900;
}
.source-content {
  width: clamp(289px, 33.18vw, 365px);
  align-self: center;
  margin: 0 auto;
}
.source-content h2 {
  font-size: clamp(28px, 4vw, 44px);
}
.source-content p {
  width: 322px;
  margin-top: 24px;
  line-height: 26px;
  font-weight: 600;
}
.audience {
  min-height: 530px;
  margin: clamp(54px, 6.81vw, 75px) auto clamp(54px, 6.81vw, 75px);
}
.audience-cards-wrapper {
  min-height: 239px;
  gap: 30px clamp(10px, 3.09vw, 34px);
}
.audience-card {
  width: clamp(223px, 31.09vw, 342px);
  height: clamp(157px, 21.72vw, 239px);
  position: relative;
  overflow: hidden;
}
.audience-card img {
  width: 100%;
  height: 100%;
}
.audience-card-content {
  position: absolute;
  background-image: linear-gradient(0deg, #000000 -32.5%, #54545400 67.78%);
  z-index: 33;
  width: 100%;
  height: 50%;
  bottom: 0;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0px 0px 14px 22px;
  transform: translateY(100%);
  transition: all 0.8s;
}
.audience-card:hover .audience-card-content {
  transform: translateY(0);
}
.audience-card h3 {
  font-size: clamp(22px, 3.09vw, 34px);
  font-weight: 900;
}
.audience-card h4 {
  font-size: clamp(14px, 1.73vw, 19px);
}
.audience h2 {
  max-width: 740px;
  font-size: clamp(26px, 4vw, 44px);
  margin: 40px auto 48px;
}
.audience form {
  gap: 27px;
  max-width: 670px;
  margin: 0 auto;
  align-items: stretch;
}
.audience input[type="email"] {
  width: 420px;
  background-color: var(--white);
  border-radius: 5px;
  border: 1px solid var(--charcoal-gray);
  outline: none;
  padding: clamp(13px, 1.72vw, 19px) clamp(14px, 2.18vw, 24px);
  font-size: clamp(11px, 5vw, 21px);
}
.audience input[type="submit"] {
  cursor: pointer;
}
.brands {
  min-height: 211px;
  margin: clamp(54px, 6.81vw, 75px) auto 58px;
}
.brands h2 {
  font-size: clamp(26px, 4vw, 44px);
  margin-bottom: 87px;
}
.brands-logo-wrapper {
  gap: 60px clamp(50px, 9.45vw, 104px);
}
.brands-logo-wrapper a {
  transition: all 0.8s;
}
.brands-logo-wrapper a:hover {
  scale: 1.08;
}
.get-started {
  height: clamp(290px, 33.27vw, 366px);
  background-color: var(--sea-green);
}
.get-started h2 {
  font-size: clamp(42px, 5.45vw, 60px);
  margin-bottom: clamp(48px, 7.27vw, 80px);
}
.footer-container {
  padding: clamp(50px, 8.36vw, 77px) var(--padding) 39px;
}
.footer-container a:not(a.logo-footer) {
  transition: all 0.8s;
}
.footer-container a:not(a.logo-footer):hover {
  color: var(--sea-green);
}
.top-footer {
  align-items: flex-start;
  gap: 14px 43px;
}
.logo-footer {
  font-size: clamp(16px, 2.36vw, 26px);
  font-weight: 900;
}
.logo-footer img {
  width: clamp(60px, 8.36vw, 92px);
  height: clamp(30px, 4.18vw, 46px);
  margin: 0 -16px;
}
.container-links {
  font-size: clamp(12px, 1.73vw, 19px);
  font-weight: 700;
  gap: 50px;
}
.list-links {
  gap: 10px 50px;
}
.list-links ul {
  display: flex;
  flex-direction: column;
  row-gap: 7px;
}
.footer-line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--light-gray);
  margin: clamp(23px, 5.09vw, 56px) 0 clamp(22px, 3.54vw, 39px);
}
.sub-footer {
  gap: 33px;
  font-size: clamp(9px, 1.36vw, 15px);
  font-weight: 700;
}
.sub-footer ul {
  gap: 35px;
}
@media only screen and (max-width: 1128px) {
  .source-content {
    flex-grow: 1;
    text-align: center;
  }
  .source-content p {
    width: 100%;
  }
}
@media only screen and (max-width: 635px) {
  .nav-button nav {
    display: none;
  }
  .hero-container {
    background-position: top;
  }
  .hero-content h1 {
    margin-top: -170px;
    margin-bottom: 200px;
  }
}
@media only screen and (max-width: 576px) {
  .top-footer {
    flex-direction: column;
  }
  .container-links {
    gap: 35px 100px;
  }
  .list-links {
    flex-direction: column;
  }
}
@media only screen and (max-width: 481px) {
  .brands-logo-wrapper a:nth-child(1) {
    order: 3;
  }
  .brands-logo-wrapper a:nth-child(2) {
    order: 1;
  }
  .brands-logo-wrapper a:nth-child(3) {
    order: 5;
  }
  .brands-logo-wrapper a:nth-child(4) {
    order: 4;
  }
  .brands-logo-wrapper a:nth-child(5) {
    order: 2;
  }
}
@media only screen and (max-width: 300px) {
  .header-container {
    justify-content: center;
  }
  .header-button {
    display: none;
  }
}
